{% extends "base.html" %}

{% block content %}
  <h2>Upload an image to analyze</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file" required>
    <button type="submit">Analyze</button>
  </form>

  {% if image_url %}
    <h2>Uploaded image</h2>
    <img src="{{ image_url }}" alt="Uploaded image">
  {% endif %}

{% if result %}
  <h2>Result</h2>
  <ul>
    {% for key, value in result.items %}
      <li>{{ key }}: {{ value }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}