<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% load static %}
{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'your_custom_css.css' %}">
    <div class="container my-5">
        <h1 class="mb-4">Create a new project</h1>
        <form method="post" class="mt-3">
            {% csrf_token %}
            <div class="mb-3">
                {{ project_form.p_name.label_tag }} {{ project_form.p_name }}
            </div>
            <div class="mb-3">
                {{ project_form.is_achieved.label_tag }} {{ project_form.is_achieved }}
            </div>
            <div class="mb-3">
                {{ project_form.cur_weight.label_tag }} {{ project_form.cur_weight }}
            </div>
            <div class="mb-3">
                {{ project_form.goal_weight.label_tag }} {{ project_form.goal_weight }}
            </div>
            <div class="mb-3">
                {{ project_form.goal_bmi.label_tag }} {{ project_form.goal_bmi }}
            </div>
            <div class="mb-3">
                {{ project_form.goal_type.label_tag }} {{ project_form.goal_type }}
            </div>
            <div class="mb-3">
                {{ project_form.start_time.label_tag }} {{ project_form.start_time }}
            </div>
            <div class="mb-3">
                {{ project_form.end_time.label_tag }} {{ project_form.end_time }}
            </div>
            <div class="mb-3">
                {{ health_form.allergy_name.label_tag }} {{ health_form.allergy_name }}
            </div>
            <div class="mb-3">
                {{ health_form.activity_level.label_tag }} {{ health_form.activity_level }}
            </div>
            <div class="mb-3">
                {{ health_form.dietary_restriction.label_tag }} {{ health_form.dietary_restriction }}
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
{% endblock %}