{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

<div class="container my-3">
            {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger">
              <strong>{{ message }}</strong>
            </div>
          {% endfor %}
    {% endif %}
    <form action="{% url 'login' %} "method='post'>
        {% csrf_token %}
        <div class="mb-3">
            <label for="email">사용자 email</label>
            <input type="text" name="email" id="email">
        </div>
        <div class="mb-3">
            <label for="password">비밀번호</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" class="btn btn-primary">로그인</button>
            </div>
            <div class="col-8 text-right">
                 <a href="{%url 'register' %}">회원가입</a>
            </div>
    </form>
</div>