{% load static %}
{% load custom_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'your_custom_css.css' %}">
    <link rel="stylesheet" href="{% static '/dark-theme.css' %}">
    <!-- Fabicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'genie.ico' %}" />
    <!-- Title -->
    <title>HealthGenie</title>
</head>
<body>
    <div class="container my-5">
        <h1 class="text-center">Welcome to HealthGenie 🧞</h1>
        <div class="text-end">
            {% if request.user.is_authenticated %}
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Sign-out</button>
                </form>
            {% endif %}
        </div>
        <section>
            <h2 class="mb-4"> ⚱️ Projects</h2>
            {% if projects %}
                <ul class="list-unstyled">
                    {% for project in projects %}
                        <li class="mb-3 p-3 border border-1 rounded">
                            <h2>{{ project.p_name }}</h2>
                            <a href="{% url 'project_detail' project_id=project.pk %}" class="project-link">...see reports</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There is no existing Projects.</p>
            {% endif %}
            <a href="{% url 'create_project' %}" class="btn btn-primary">Create a Project</a>
            <p></p>
        </section>
        <section>
            <h2 class="mb-4"> ⚖️ Update current weight</h2>
            <form method="post" class="mt-3">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.cur_weight.id_for_label }}" class="form-label">{{ form.cur_weight.label }}:</label>
                    {{ form.cur_weight }}
                <br>
                <button type="submit" class="btn btn-primary">Update</button>
                <div class="alert-info">
                    {% if messages %}
                        {% for message in messages %}
                            {{message}}
                        {% endfor %}
                    {% endif %}
                </div>
            </form>
            <p></p>
        </section>
<section>
    <h2 class="mt-4"> 📸 Food Image Classification</h2>
    <form method="post" enctype="multipart/form-data" id="foodImageForm">
        {% csrf_token %}
        <input type="file" name="file" required>
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Analyze</button>
    </form>
    {% if image_url %}
        <h2>Uploaded image</h2>
        <img src="{{ image_url }}" alt="Uploaded image">
    {% endif %}

    {% if result %}
        <h2>Result</h2>
        <ul>
            {% for key, value in result.items %}
                <li>{{ key }}: {{ value }}</li>
            {% endfor %}
        </ul>
        {% if result.csv_name1 %}
            <h2>🍽️ Insert Meal</h2>
            <form id="mealForm-{{ forloop.counter }}" class="mealForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for item in result.csv_name1|load_json %}
                    <div>
                        <input type="hidden" name="f_name[]" value="{{ item.names|lower }}">
                        <div class="d-flex">
                            <span class="meal-type-name">{{ item.names }}</span>
                            <input type="text" name="meal_type[]" placeholder="Meal type">
                            <input type="number" name="serving_size[]" placeholder="Serving size">
                            <input type="number" name="rating[]" placeholder="Rating">
                        </div>
                    </div>
                {% endfor %}
                <button type="submit" id="insertButtonAll" class="btn btn-primary">Insert All</button>
            </form>
        {% endif %}
            {% endif %}
</section>

<section>
    <h2 class="mt-4">🍽️ Insert Meal</h2>
    <form id="mealForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ meal_form.food_id.id_for_label }}" class="form-label">{{ meal_form.food_id.label }}:</label>
            {{ meal_form.food_id }}
        </div>
        <div class="mb-3">
            <label for="{{ meal_form.meal_type.id_for_label }}" class="form-label">{{ meal_form.meal_type.label }}:</label>
            {{ meal_form.meal_type }}
        </div>
        <div class="mb-3">
            <label for="{{ meal_form.serving_size.id_for_label }}" class="form-label">{{ meal_form.serving_size.label }}:</label>
            {{ meal_form.serving_size }}
        </div>
        <div class="mb-3">
            <label for="{{ meal_form.rating.id_for_label }}" class="form-label">{{ meal_form.rating.label }}:</label>
            {{ meal_form.rating }}
        </div>
        <button type="submit" id="insertButton" class="btn btn-primary">Insert</button>
    </form>
</section>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
{% block extrahead %}
    <link href="/static/admin/css/dark.css" type="text/css" media="(prefers-color-scheme: dark)" rel="stylesheet">
{% endblock %}
</body>
</html>