{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'your_custom_css.css' %}">
    <link rel="stylesheet" href="{% static '/dark-theme.css' %}">
    <!-- Fabicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'genie.ico' %}" />
    <!-- Title -->
    <title>HealthGenie </title>
    </head>
<body>
    <div class="container my-5">
        <h1 class="mb-4">Project Details</h1>
        <br>
        <a href="{% url 'project_list' %}" class="btn btn-primary">Return to project list</a>
        <br>
        <br>
        <div id="projectContent" style="width:100%;height:800px;overflow:hidden;">
            <iframe src="http://<your-ipaddress>:8501" frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var reloadCount = 0;

            // Reload the page content using Ajax twice on the first load
            $.ajax({
                url: window.location.href,
                type: 'GET',
                success: function(response) {
                    var updatedContent = $(response).find('#projectContent').html();
                    $('#projectContent').html(updatedContent);

                    reloadCount++;

                    if (reloadCount < 2) {
                        // Perform the second reload after a delay of few seconds
                        setTimeout(function() {
                            $.ajax({
                                url: window.location.href,
                                type: 'GET',
                                success: function(response) {
                                    var updatedContent = $(response).find('#projectContent').html();
                                    $('#projectContent').html(updatedContent);
                                }
                            });
                        }, 800); // 0.8 seconds
                    }
                }
            });
        });
    </script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
{% block extrahead %}
    <link href="/static/admin/css/dark.css" type="text/css" media="(prefers-color-scheme: dark)" rel="stylesheet">
{% endblock %}
</body>
</html>