<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 리스트</title>
    <style>
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        li {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        h1 {
            margin-bottom: 20px;
        }
        .project-link {
            text-decoration: none;
            color: #000;
        }
    </style>
</head>
<body>
    <h1>프로젝트 리스트</h1>
    {% if projects %}
        <ul>
            {% for project in projects %}
                <li>
                    <h2>{{ project.p_name }}</h2>
                    <p>프로젝트 생성일: {{ project.created_at }}</p>
                    <p>프로젝트 생성자: {{ project.user.user_name }}</p>
                    <a href="{% url 'project_detail' project_id=project.pk %}">자세히 보기</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>프로젝트가 없습니다.</p>
    {% endif %}
    <a href="{% url 'create_project' %}">프로젝트 생성하기</a>
</body>
</html>